@import "tailwindcss";

body {
  background-color: #131516;
  background-image: url("assets/images/background.png");
  box-shadow: inset 0 0 0 1000px rgba(29, 40, 56, 0.6);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}